<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>SUBMIT TICKET</h2>
    <div class="container">
        <fieldset>
        <legend>Ticket submit form</legend>
        <h4>{{message}}</h4>
    <form>
        
        <div class="form-group">
            <label for ="requestType">Request Type</label>
            <select required class="form-control" id="requestType" name="requestType"
            [(ngModel)] = "ticket.requestType">
                <option disabled>Select</option>
                <option>travel Tickets</option>
                <option>visa</option>
                <option>work permit</option>
                <option>hotel stay</option>
              </select>
        </div>
        <div class="form-group">
            <label for ="priority">Priority</label>
            <select required class="form-control" id="priority" name="priority"
            [(ngModel)] = "ticket.priority">
                <option disabled>Select</option>
                <option>Normal</option>
                <option>Urgent</option>
                <option>Immediate</option>
              </select>
        </div>
        <div class="form-group">
            <label for ="locationTo">Location To</label>
            <input type="text" class="form-control" id="locationTo" name="locationTo"
             [(ngModel)] = "ticket.locationTo">
        </div>
        <div class="form-group">
            <label for ="locationFrom">Location From</label>
            <input type="text" class="form-control" id="locationFrom" name="locationFrom"
             [(ngModel)] = "ticket.locationFrom">
        </div>
        <div class="form-group">
            <label for ="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate"
             [(ngModel)] = "ticket.startDate">
        </div>
        <div class="form-group">
            <label for ="endDate">End date</label>
            <input type="date" class="form-control" id="endDate" name="endDate"
             [(ngModel)] = "ticket.endDate">
        </div>
        <div class="form-group">
            <label for ="passportNo">Passport No</label>
            <input type="text" class="form-control" id="passportNo" name="passportNo"  maxlength="25"
             [(ngModel)] = "ticket.passportNo">
        </div>
        <div class="form-group">
            <label for ="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="projectName"  maxlength="100"
             [(ngModel)] = "ticket.projectName">
        </div>
        <div class= "form-group" id="exp">
            <label for ="expenseBearer">Expense Bearer</label>
            <div id="radiobuttons">
            Client
            <input id="client" type="radio" value="client" class="form-control" id="expenseBearer" name="expenseBearer"
                [(ngModel)] = "ticket.expenseBearer">
            Nagarro
            <input id="nagarro" type="radio" value="nagarro" class="form-control" id="expenseBearer" name="expenseBearer"
                [(ngModel)] = "ticket.expenseBearer">
            </div>
        </div>
        <div class="form-group">
            <label for ="travelApprover">Travel Approver</label>
            <input type="text" class="form-control" id="travelApprover" name="travelApprover" maxlength="100"
             [(ngModel)] = "ticket.travelApprover">
        </div>
        <div class="form-group">
            <label for ="expectedTravelDuration">Expected Duration</label>
            <input type="text" class="form-control" id="expectedTravelDuration" name="expectedTravelDuration" 
             [(ngModel)] = "ticket.expectedTravelDuration">
        </div>
        <div class="form-group">
            <label for ="maxAllowedAmount">Max Allowed Amount</label>
            <input type="text" class="form-control" id="maxAllowedAmount" name="maxAllowedAmount" 
             [(ngModel)] = "ticket.maxAllowedAmount">
        </div>
        <div class="form-group">
            <label for ="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" maxlength="1000"
             [(ngModel)] = "ticket.description">
        </div>
        <input type="submit" value="SUBMIT" name="home-submit" class="btn" (click)="submitTicket()" >
        <input type="submit" value="GOTO HOME PAGE" name="home-submit" class="btn" (click)="gotoHome()" >
        
        </form>
        
    </fieldset>
    </div>

</body>
</html>
