<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Get your password</h2>
    <h4>{{message}}</h4>
    <div class="container">
        <h3>Please enter your registered Email Id.</h3>
        <form>
        <div class="form-group">
            <input required type="text" class="form-control" id="email" name="email" placeholder="Enter Username.."
            maxlength="100" [(ngModel)] = "user.email">
        </div>
        <input type="submit" value="SUBMIT" name="forget-pw" class="btn" (click)="getPassword()"><br>
        <input type="submit" value="LOGIN>>" name="forget-pw-login" class="btn" (click)="gotoLogin()">
    </form>
    
    </div>
</body>
</html>
