body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height:500px;
    background-image: url("src\Images\pic1.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    border: 2px solid black;
}
.container4{
    background-color: white;
}
table{
    border-collapse: collapse;
}
table,th,tr{
    border: white;
    border-collapse: collapse;
    border: 1px solid black;
    
}
td{
    padding: 5px;
}
table tr :nth-child(odd){
    background-color: cornsilk;
}
table td :nth-child(odd){
    background-color: floralwhite;
}
.header-row{
    font-weight: bolder;
}
img{
    height:100px;
    width:100px;
}
h1{
    background-color: black;
    color:whitesmoke;
    padding:10px;
}
h2{
    font-size: x-large;
    color: whitesmoke;
}
.btn{
    border : none;
    background-color: black;
    color:whitesmoke;
    padding:10px;
    cursor: pointer;
    margin:15px;
    font-weight: bolder; 
}
.container1{
    height:30%;
}
.container2{
   
    background-color: #ff0066 ;
}
.container3{
    background-color: #ff0066 ;
    margin-top: 20px;
}